numpy
opencv-python
Pillow
ultralytics
paddleocr
paddlepaddle-gpu  # Agar GPU use kar raha hai (ya paddlepaddle for CPU)
face-recognition
dlib
pyttsx3
gTTS
pygame
SpeechRecognition
pyaudio
torch
torchvision
transformers
